.home__container {
  @include container;
  
  .title {
    @include margin-bottom(0.25);
    text-align: center;
  }

  .author {
    @include size(h4);
    text-align: center;
    font-style: italic;
  }
}