/* 
 * Sassy Link Underline: http://codepen.io/jimmynotjim/pen/EabQjV 
 * To use, apply @include link-underline($background, $color, $percent: 85%) {
 * or apply @include link-underline-hover if you only want the affect when hovering 
 * Param1 $background is the color of the background behind the text
 * Param2 $color is the color you want the underline to be
 * Param3 is the percent that you can adjust to change height of the underline (range from 85% to 100%)
 */

@mixin text-underline-crop($background) {
  text-shadow:  .06em 0 $background, 
                -.06em 0 $background,
                0 .06em $background,
                0 -.06em $background,
                .09em 0 $background,
                -.09em 0 $background,
                .12em 0 $background,
                -.12em 0 $background,
                .15em 0 $background,
                -.15em 0 $background,
                .18em 0 $background,
                -.18em 0 $background;
}

@mixin text-underline($color, $percent: 93%) {
  background-image: linear-gradient($color, $color);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% $percent;
}

@mixin text-underline-hover($color, $percent: 93%) {
  &:hover, &:active, &:focus {
    background-image: linear-gradient($color, $color);
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% $percent;
  }
}


@mixin link-underline($background, $color, $percent: 93%) {
  @include text-underline-crop($background);
  @include text-underline($color, $percent);

  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }
}

@mixin link-underline-hover($background, $color, $percent: 93%) {
  @include text-underline-crop($background);
  @include text-underline($color, $percent);

  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }
}

a {
  @include link-underline(white, color($theme-color));
}