/* 
 * See here for reference:
 * http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
 * Apply this to a ul or ol element
 * Param1 $name should be a unique word
 * Param2 $counter should be a list-style-type
 * Param3 $margin is the distance between the list-icon and content
*/


@mixin styled-list($name, $counter: decimal, $margin: 0.5rem) {

	& {
		counter-reset:$name;
		position: relative;
		margin-left: $margin;
	}

	& > li {
		list-style:none;
	}

	& > li:before {
		content:counter($name, $counter);
		counter-increment:$name;
		opacity: 0.33;
		font-family: $body-font;
		text-align:center;
		display: inline-block;
  	width: 1em;
  	position: absolute;
  	left: -1 * $margin;
	}
}